@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
    --background: #fafaf9;
    --foreground: #0c0a09;
    --card: #fafaf9;
    --card-foreground: #0c0a09;
    --popover: #fafaf9;
    --popover-foreground: #0c0a09;
    --primary: #f87171;
    --primary-foreground: #0c0a09;
    --secondary: #a78bfa;
    --secondary-foreground: #0c0a09;
    --muted: #e7e5e4;
    --muted-foreground: #44403c;
    --accent: #e7e5e4;
    --accent-foreground: #44403c;
    --destructive: #f87171;
    --destructive-foreground: #450a0a;
    --border: #a8a29e;
    --input: #a8a29e;
    --ring: #a8a29e;
  }
  .dark {
    --background: #0c0a09;
    --foreground: #fafaf9;
    --card: #0c0a09;
    --card-foreground: #fafaf9;
    --popover: #0c0a09;
    --popover-foreground: #fafaf9;
    --primary: #dc2626;
    --primary-foreground: #fafaf9;
    --secondary: #7c3aed;
    --secondary-foreground: #fafaf9;
    --muted: #44403c;
    --muted-foreground: #e7e5e4;
    --accent: #44403c;
    --accent-foreground: #e7e5e4;
    --destructive: #dc2626;
    --destructive-foreground: #fee2e2;
    --border: #57534e;
    --input: #57534e;
    --ring: #57534e;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Rolodex keyframes */
@keyframes rolodex {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  50% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
    opacity: 1; /* Ensure the text stays visible at the end */
  }
}

/* Add animation to the changing part */
.transition-text {
  display: inline-block;
  animation: rolodex 0.5s ease-in-out;
}

/* Make PDF previews fit inside cards */
canvas {
  width: 100% !important;
  height: fit-content !important;
  object-fit: contain !important;
}

.round-pdf-top > * {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.round-pdf > * {
  border-radius: var(--radius);
}
